<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add name="AppDbContext"
             connectionString="Data Source=DESKTOP-LV844Q5\SQLEXPRESS;Initial Catalog=DBESTACION;Integrated Security=True"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>